<div class="container">
    <div class="row">
        <div class="col-md-3 ">
            <ul class="menu">
                <li><a routerLink="./articles">Articles</a></li>
                <li><a routerLink="./calculatrice">Calculatrice</a></li>
                <li><a routerLink="./scientifiques">Scientifiques</a></li>
                <li><a routerLink="./formulaires">Formulaires</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>            
        </div>
    </div>

</div>

