<div>
  
  <div class="container">
    <h1>Angular Components</h1>
    <div class="form-group">
      <label for="title">Titres</label>
      <input [(ngModel)]="titre" type="text" class="form-control" id="titre" placeholder="Titre">
    </div>
    <div class="form-group">
      <label for="link">link</label>
      <input [(ngModel)]="lien" type="text" class="form-control" id="link" placeholder="Lien url">
    </div>
    <button  (click)="ajouterArticle()" class="btn btn-success">Ajouter Lien</button>
  </div>
 
  <div class="container">
  
    <app-article [article]="a" *ngFor="let a of articles"></app-article>
    
 
  </div>
</div>