<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form #f="ngForm">
                <input type="text" name="prenom" id="prenom" placeholder="Prénom" ngModel/>
                <input type="text" name="nom" id="nom" placeholder="Nom" ngModel/>
                <input type="text" name="age" id="age" placeholder="Age" ngModel/>
                <button type="submit" (click)="valid(f)" class="btn btn-success">Valider </button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div *ngIf="monFormGroup.touched && !monFormGroup.valid" class="alert alert-danger " role="alert">
                Le formulaire n'est pas valide
            </div>

            <form [formGroup]="monFormGroup" (ngSubmit)="valid2()">
                <input [formControl]="monFormGroup.controls['prenom']" type="text" name="prenom" id="prenom" placeholder="Prénom" />
                
                <div *ngIf="nomControler.touched && nomControler.hasError('required')" class="alert alert-danger " role="alert">
                    Le Champs nom est requis
                </div>
                <div *ngIf="nomControler.touched && nomControler.hasError('nomValid')" class="alert alert-danger " role="alert">
                    {{nomControler.errors.nomValid}}
                </div>

                <input [formControl]="monFormGroup.controls['nom']" type="text" name="nom" id="nom" placeholder="Nom" />
                <input [formControl]="monFormGroup.controls['age']" type="text" name="age" id="age" placeholder="Age" />
                <button type="submit"  class="btn btn-success">Valider </button>
            </form>
        </div>
    </div>
</div>